<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <title>光影人生</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- CSS -->
    <!--<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=PT+Sans:400,700'>-->
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/supersized.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
<script src="../static/js/jquery-1.8.2.min.js"></script>
<script src="../static/js/supersized.3.2.7.min.js"></script>
<script src="../static/js/supersized-init.js"></script>
<script src="../static/js/scripts.js"></script>
<div class="page-container">
    <h1>Login</h1>
    <form action="#" method="POST" id="form1">
        <input type="text" name="username" class="Username" placeholder="Username">
        <input type="password" name="password" class="Password" placeholder="Password">
        <button type="submit">Sign in</button>
    </form>
</div>
</body>
</html>

