<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="data">
    {% for i in data %}
        <div class="item">{{ i }}</div>
    {% endfor %}
</div>
<div id='canvasDiv'></div>
<script src="/static/js/jquery-1.8.2.min.js"></script>
<script src="/static/js/ichart.1.2.min.js"></script>
<script>
    var v = [];
    var label = [];
    var date = [];
    function Print() {
        var element = document.getElementsByClassName("item");
        for (var i = element.length - 1; i >= 0; i--) {
            var it = element[i];
            var json = it.innerHTML;
            var obj = JSON.parse(json);
            v.push(obj.cpu);
            label.push(obj.time);
            var sign = 0;
            for (var j = 0; j < date.length; j++) {
                if (obj.date == date[j]) {
                    sign = 1;
                    break;
                }
            }
            if (sign == 0) {
                date.push(obj.date);
            }
        }
    }
    function ComputeAvrg() {
        var sum = 0, max = v[0], min = v[0];
        for (var i = 0; i < v.length; i++) {
            sum += v[i];
            if (v[i] > max) {
                max = v[i];
            }
            if (v[i] < min) {
                min = v[i];
            }
        }
        var arevage;

        if (v.length != 0) {
            arevage = sum / v.length;
        }

        rtu = [];
        rtu.push(arevage);
        rtu.push(max);
        rtu.push(min);
        return rtu;
    }

    $(function () {
        var data = [
            {
                name: 'CUP使用率',
                value: v,
                color: '#0d8ecf',
                line_width: 2
            }
        ];

        {#        var labels = ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10"];#}



        var line = new iChart.LineBasic2D({
            render: 'canvasDiv',
            data: data,
            align: 'center',
            title: 'CPU使用率监控',
            subtitle: '最近十次收集到的数据(单位：%)',
            footnote: date[date.length-1],
            width: 800,
            height: 400,
            sub_option: {
                smooth: true,//平滑曲线
                point_size: 10
            },
            tip: {
                enable: true,
                shadow: true
            },
            legend: {
                enable: false
            },
            crosshair: {
                enable: true,
                line_color: '#62bce9'
            },
            coordinate: {
                width: 600,
                valid_width:500,
                height: 260,
                axis: {
                    color: '#9f9f9f',
                    width: [0, 0, 2, 2]
                },
                grids: {
                    vertical: {
                        way: 'share_alike',
                        value: 12
                    }
                },
                scale: [{
                    position: 'left',
                    start_scale: 0,
                    end_scale: 100,
                    scale_space: 10,
                    scale_size: 2,
                    scale_color: '#9f9f9f'
                }, {
                    position: 'bottom',
                    labels: label
                }]
            }
        });
        //开始画图
        line.draw();
    });
    window.onload = Print();
</script>
</body>
</html>